/* styles.css */

.title {
    text-align: center;
    color: blueviolet;
}

.searchInput {
    text-align: center;
}

.searchInput input {
    text-align: center;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.searchInput button {
    text-align: center;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.searchInput button:hover {
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.searchInput input:hover {
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

/* 当系统为深色模式时，页面背景也会变成深色 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #303030;
        /* color: white; */
    }

    .searchInput input {
        background-color: blueviolet;
        color: blueviolet;
    }

    .searchInput button {
        background-color: blueviolet;
        /* color: blueviolet; */
    }
}
/* Add styles here to customize the appearance of your app */